.node-red/flows.json
[
  {
    "id": "e267ff5a.3bfd6",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6d513e20.2cdb",
    "type": "inject",
    "z": "e267ff5a.3bfd6",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 300,
    "y": 100,
    "wires": [["ca1c4d8d.e58b4"]]
  },
  {
    "id": "30bca562.bada7a",
    "type": "debug",
    "z": "e267ff5a.3bfd6",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 100,
    "wires": []
  },
  {
    "id": "ca1c4d8d.e58b4",
    "type": "change",
    "z": "e267ff5a.3bfd6",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "${CHANNEL_ACCESS_TOKEN}",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 500,
    "y": 100,
    "wires": [["30bca562.bada7a"]]
  }
]
