.node-red/flows.json
[
  {
    "id": "22527ece.451d52",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d3134fb6.3c58b",
    "type": "inject",
    "z": "22527ece.451d52",
    "name": "",
    "props": [{ "p": "topic", "vt": "str" }],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "60",
    "topic": "health-check",
    "x": 260,
    "y": 140,
    "wires": [["b7df2b63.1a00d8"]]
  },
  {
    "id": "c1c6124a.fcd2b",
    "type": "http in",
    "z": "22527ece.451d52",
    "name": "",
    "url": "/health",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 230,
    "y": 200,
    "wires": [["e4d7788b.d80868"]]
  },
  {
    "id": "5157b48a.84386c",
    "type": "http request",
    "z": "22527ece.451d52",
    "name": "GET /health",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 570,
    "y": 140,
    "wires": [["b5b7dca4.e568e"]]
  },
  {
    "id": "b5b7dca4.e568e",
    "type": "debug",
    "z": "22527ece.451d52",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 730,
    "y": 140,
    "wires": []
  },
  {
    "id": "cd6c9b18.669cc8",
    "type": "http response",
    "z": "22527ece.451d52",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 540,
    "y": 200,
    "wires": []
  },
  {
    "id": "b7df2b63.1a00d8",
    "type": "function",
    "z": "22527ece.451d52",
    "name": "set url",
    "func": "msg.url = global.get('env').APP_DOMAIN + '/health'\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 430,
    "y": 140,
    "wires": [["5157b48a.84386c"]]
  },
  {
    "id": "e4d7788b.d80868",
    "type": "change",
    "z": "22527ece.451d52",
    "name": "set payload",
    "rules": [
      { "t": "set", "p": "payload", "pt": "msg", "to": "ok", "tot": "str" }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 200,
    "wires": [["cd6c9b18.669cc8"]]
  }
]
